[workspace]
authors = ["Tim de Jager <tim@prefix.dev>"]
channels = ["https://prefix.dev/conda-forge"]
description = "A cargo extension to automatically apply patch sections to Cargo.toml files"
platforms = ["linux-64", "win-64", "osx-64", "osx-arm64"]
preview = ["pixi-build"]

[dependencies]
rust = ">=1.88.0,<2"

[tasks]
build = "cargo build"
build-release = "cargo build --release"
test = "cargo test"
install = { cmd = "cargo install --path . --locked", description = "Install cargo-patch-source locally using cargo" }
clippy = "cargo clippy --all-targets --all-features -- -D warnings"
fmt = "cargo fmt --all"
fmt-check = "cargo fmt --all -- --check"

[feature.build.dependencies]
rust-src = ">=1.88.0,<2"

[feature.lint.dependencies]
rust = ">=1.88.0,<2"

[feature.lint.tasks]
lint = { depends-on = ["fmt-check", "clippy"], description = "Run all linters" }

[environments]
default = { features = ["build"], solve-group = "default" }
lint = { features = ["lint"], solve-group = "default" }

[package]
name = "cargo-patch-source"

[package.host-dependencies]
rust = ">=1.88.0, <2"

[package.build.backend]
name = "pixi-build-rust"
version = "*"
